.text {
  color: white;
}

.text-input-container {
  padding-bottom: 41px;
}

.main-input-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 6%;
  margin-top: 70px;
}

.button-container {
  width: 61%;
  text-align: center;
}

.replay-btn {
  margin-right: 12px;
}

.top-btn-container {
  margin-bottom: 30px;
}

.top-btn {
  float: right;
  margin-left: 1rem;
}
